a { text-decoration: none; }
ul { list-style: none; }
img { display: block; }

@mixin reset($value) {
	@if $value = 'list' {
		margin: 0;
		padding: 0;
		list-style: none;
	}

  @if $value = 'input' {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
}

// Effects

@mixin effect($type, $color) {
  @if $type == "hover" {
    display: block;

    &:after {
    	border-bottom: 5px solid $color;
    	content: '';
    	position: absolute;
    	top: 97%;
    	right: 0;
    	bottom: 0px;
    	left: 0;
    	opacity: 0;
    	transition: opacity .2s;
    }

    &:hover:not(.active),
  	&:focus:not(.active) {
  		&:after{
  			opacity: 1;
  		}
  	}
  }

  @if $type == "light" {
    &:hover { color: $color; }
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@mixin align($value) {
  @if $value == "center" {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  @if $value == "vertical" {
    display: inline-block;
    vertical-align: middle;
    float: none;
  }
}

// trick css no gutter in bootstrap3
.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.no-margins{
  margin-left:0 !important;
  margin-right:0 !important;
}
