.cart {
  position: relative;

  &__items {
    @include reset(list);
  }

  &__view {
    position: absolute;
    display: block;
    background-color: #fff;
    padding: $space;
    padding-top: 6rem;
    color: $blue-light;
    z-index: 100;
    top: -8px;
    left: -90px;
    min-width: 330px;
    text-align: center;
  }

  &--thumb {
    width: 10rem;
    margin-right: $space-sm;
  }


  &--title {
    margin: 0 $space;
  }

  &__item {
    display: flex;
    align-items: center;
    white-space: nowrap;
    border-bottom: 1px solid $gray-lighter;
    padding: $space-sm 0;
  }

  &__price { white-space: nowrap; }

  &--buttons {
    padding: $space 0;

    .btn {
      display: block;
      margin: $space-xs 0;
    }
  }
}

.cart--title {
  position: relative;
  z-index: 200;
  background-color: #fff;
  padding: $space-sm $space;
  border-radius: 5px;
  color: $blue;
}

.cart-items {
  background: #fff;
  color: $blue;
  @include reset(list);
}

.cart-item {
  display: flex;
  margin: 0 $space-sm;
  padding: $space 0;

  border-bottom: 1px solid $blue-light;

  &--title { padding-bottom: $space-sm; }

  &--thumb { margin-right: $space; }

  &__features {
    @include reset(list);
    margin: $space-md 0;
    text-transform: uppercase;
  }
}
