.product {
  display: flex;

  &__item {
    position: relative;
    color: $blue-light;
    background-color: #fff;
    lost-column: 1/4;
    padding: $space-sm;
    min-height: 292px;

    &:not(:first-child) {
      background-image: url('../img/product-background.png');
      background-size: cover;
    }
  }

  &__item:first-child {
    lost-column: 2/4 0 $space flex;
    text-align: right;

    .product--picture {
      max-width: 450px;
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
    }

    .product__buttons {
      max-width: 20%;
      text-align: right;
      position: absolute;
      right: $space-sm;
      bottom: $space-sm;

      .btn { margin-top: $space-sm }
    }
  }

  &--title {
    padding: 0;
    padding-bottom: $space-sm;
    @include font(h2, bold, primary, uppercase);
    color: $gray-light;
  }

  &--price {
    @include font(h3, light, primary, uppercase);
  }

  &--picture {
    max-width: 200px;
    height: auto;
    margin: $space auto;
  }

  &__buttons {
    text-align: center;
  }
}

.product-details {
  background-color: #fff;
  display: flex;
  flex-flow: row wrap;
  padding: $space;

  &--title {
    @include font(h1, bold, primary, uppercase);
    lost-column: 1/1;
  }

  &--image img {
    padding: $space-md;
    border: 1px solid $gray-light;
  }

  &--image,
  &--features {
    lost-column: 1/2;
  }

  &--price {
    display: block;
    margin: $space 0;
    @include font(h2, thin);
  }
}
