<h2 class="page--title">Products</h2>

<div class="product__list">
  <div class="product__item" ng-repeat="product in vm.products">
    <h2 class="product--title">{{product.name}}</h2>
    <div class="product--price">R$30.00</div>
    <img class="product--picture" ng-src="{{product.image}}" alt="{{product.name}}">
    <div class="product__buttons">
      <button type="button" class="btn btn-inline btn-primary" ng-click="vm.gotoDetails({name: product.name, id: product.$id})">Details</button>
      <button type="button" class="btn btn-inline btn-secondary" ng-click="vm.addToCart(product)">Add to cart</button>
    </div>
  </div>
</div>


