* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}
}

html {
  font-size: 10px;
  font-size: responsive 8px 10px;
}

body {
  @include font-family(primary);
  color: $text-color;
  font-size: $text-size;
  overflow-x: hidden;
  background: #000;
}

section {
  padding: $space 0;
  background-color: #fff;

  h1 {
    color: $navy;
  }
}

address {
  font-style: normal;
}

::-webkit-input-placeholder {
   color: $gray;
}

:-moz-placeholder {
   color: $gray;
}

::-moz-placeholder {
   color: $gray;
}

:-ms-input-placeholder {
   color: $gray;
}
