<a href="#" class="cart--title" ng-click="showCart();">carrinho - {{items.length}}</a>

<div class="cart__view" ng-show="cartActive">
  <ul class="cart__items">
    <li ng-show="items.length === 0"> Cesta vazia </li>
    <li class="cart__item" ng-repeat="item in items">
      <img class="cart--thumb" ng-src="{{item.image}}" alt="{{item.name}}">
      <span class="cart--title">{{item.name}}</span>
      <span class="cart--quant">x 1</span>
    </li>
  </ul>

  <div class="cart--buttons">
    <a href="/cart" class="btn btn-lg btn-primary">View Cart</a>
    <a href="/checkout" class="btn btn-lg btn-primary">Checkout</a>
  </div>
</div>
