<div class="checkout">
  <h2 class="page--title">Checkout</h2>

  <div class="checkout-cart">
    <div class="cart">
      <ul class="cart-items">
        <li class="cart-item" ng-repeat="item in vm.getItems">
          <div class="cart-item--thumb">
            <img ng-src="{{item.image}}" alt="item.name">
          </div>
          <div class="cart-item__content">
            <h2 class="cart-item--title">{{item.name}}</h2>
            <hr class="cart__divider">
            <ul class="cart-item__features">
              <li ng-repeat="feature in item.features">{{feature}}</li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="checkout-guest">
    <h2>Register as a guest</h2>
    <form ng-model="guestUser">
      <label for=""> Name
        <input type="text" ng-model="guestUser.name">
      </label>

      <label for=""> Address
        <input type="text" ng-model="guestUser.address">
      </label>

      <label for=""> Postal Code
        <input type="number" ng-model="guestUser.pc">
      </label>

      <label for=""> State
        <input type="text" ng-model="guestUser.state">
      </label>

    </form>
  </div>

  <button type="button" class="btn btn-clear btn-right" ng-click="vm.saveOrder(vm.getItems, guestUser)">enviar</button>

</div>
