.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: $header-height;
  color: #fff;
}

.page--title {
  background: #fff;
  border-bottom: 1px solid $blue-light;
  padding-left: $space;
  margin-bottom: $space;
}
