<h2 class="page--title">Cart</h2>

<div class="cart">
  <ul class="cart-items">
    <li class="cart-item" ng-repeat="item in vm.getItems">
      <div class="cart-item--thumb">
        <img ng-src="{{item.image}}" alt="item.name">
      </div>
      <div class="cart-item__content">
        <h2 class="cart-item--title">{{item.name}}</h2>
        <hr class="cart__divider">
        <ul class="cart-item__features">
          <li ng-repeat="feature in item.features">{{feature}}</li>
        </ul>
      </div>
    </li>
  </ul>
</div>

<a class="btn btn-clear btn-right" href="/checkout">Checkout</a>
