<header class="header">
  <div class="brand">
    <a href="/">LRSTORE</a>
  </div>
  <ul class="navbar">
    <li class="nav-item">
      <a class="nav-link" href="/men">Men</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/women">Women</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/kids">Kids</a>
    </li>
  </ul>
  <div class="cart" ng-cart></div>
  </div>
</header>
