// =============================================================================
// Font family
// =============================================================================

@mixin font-family($family) {
  @if $family == primary {
    font-family: 'Roboto', Georgia, Cambria,"Times New Roman", Times, serif;
  }
}

// Font-weight
// --------------------------------------------------

@mixin font-weight($weight) {

  @if $weight == thin {
    font-weight: 100;
  }

  @if $weight == light {
    font-weight: 300;
  }

  @if $weight == regular {
    font-weight: 400;
  }

  @if $weight == semibold {
    font-weight: 600;
  }

  @if $weight == bold {
    font-weight: 700;
  }

  @if $weight == extrabold {
    font-weight: 800;
  }
}

// Transform
// --------------------------------------------------

@mixin font-transform($transform){
  @if ($transform == uppercase) {
    text-transform: uppercase;
    letter-spacing: .1rem;
  }

  @if ($transform == lowercase) {
    text-transform: lowercase;
    letter-spacing: .1rem;
  }
}


@mixin font($type: null, $weight: null, $family: null, $transform: null) {

  // Type
  // --------------------------------------------------

    // Headings
    // --------------------------------------------------

    @if $type == "h1" {
      font-size: 4rem;
      line-height: 3.8rem;
      letter-spacing: -.1rem;
    }

    @if $type == "h2" {
      font-size: 3rem;
      line-height: 3.1rem;
    }
    @if $type == "h3" {
      font-size: 1.9rem;
      line-height: 2.75rem;
    }
    @if $type == "h4" {
      font-size: 1.5rem;
      line-height: 2.3rem;
    }
    @if $type == "h5" {
      font-size: 1.1rem;
      line-height: 1.9rem;
    }
    @if $type == "h6" {
      font-size: 1rem;
      line-height: 1.8rem;
    }
    // Paragraphs
    // --------------------------------------------------

    @if $type == "p1" {
      font-size: $text-size;
      line-height: $text-size;
      letter-spacing: -.003em;
    }
    @if $type == "p2" {
      font-size: 1.7rem;
      line-height: 2.3rem;
    }
    @if $type == "p3" {
      font-size: 1.125rem;
      line-height: 1.4rem;
    }
    @if $type == "p4" {
      font-size: 1rem;
      line-height: 1.8rem;
    }

    // Weight
    // --------------------------------------------------

    @include font-weight($weight);

    // Family
    // --------------------------------------------------

    @include font-family($family);

    // Transform
    // --------------------------------------------------

    @include font-transform($transform);
}

