//
// Variables
//
// 1. Colors
// 2. Spaces
// 3. Media Queries
// 4. Typography
//
// ::::::::::::::::::::::::::::::::::::::::::::::::::

//
// 1. Colors
// --------------------------------------------------

// Grays
// --------------------------------------------------

$gray-darker  : #111;
$gray-dark    : #333;
$gray         : #696767;
$gray-light   : #adadad;
$gray-lighter : #ddd;
$gray-white   : #f0f0f0;


// Pallets
// --------------------------------------------------

$yellow       : #eade00;
$blue         : #1D396B;
$blue-light   : #79B3E1;
$blue-dark    : #38436a;
$red          : #c00a27;
$green        : #afcc49;
$navy         : #02053a;


// Brands
// --------------------------------------------------

$text-color      : $blue-light;

$brand-primary   : $blue;

$brand-success   : $green;
$brand-info      : $blue;
$brand-warning   : $red;
$brand-danger    : $yellow;


// Line
// --------------------------------------------------

$line : rgba($gray, .2);


//
// 2. Spaces
// --------------------------------------------------

$space         : 2rem;                 // Regular space margin
$space-xs      : ($space / 6);        // Extra small space margin
$space-sm      : ($space / 3);         // Small space margin
$space-md      : ($space + $space-sm); // Medium space margin
$space-lg      : ($space * 3);         // Large space margin
$space-xlg     : ($space * 6);        // Extra Large space margin


$space-text   : 2.5rem;


//
// 3. Media Queries
// --------------------------------------------------

$screen-xs   : 320px;  // Extra small screen / phone
$screen-sm   : 750px;  // Small screen / tablet
$screen-md   : 1024px;  // Medium screen / desktop
$screen-lg   : 1200px; // Large screen / wide desktop
$screen-xlg  : 1400px; // Extra Large screen / wide desktop
$screen-xxlg : 1900px; // Extra Large screen / wide desktop
$screen-4k   : 2500px; // Extra Large screen / wide desktop

$grid-gutter-width:         30px;
$grid-columns:              12;

$header-height: 9rem;

//
// 3. Containers
// --------------------------------------------------


$container-tablet:             ($screen-sm + $grid-gutter-width) !default;
$container-sm:                 $container-tablet !default;
$container-desktop:            ($screen-md + $grid-gutter-width) !default;
$container-md:                 $container-desktop !default;
$container-large-desktop:      ($screen-lg + $grid-gutter-width) !default;
$container-lg:                 $container-large-desktop !default;

//
// 4. Typography
// --------------------------------------------------

$text-size 			: 1.2rem;


//
// 4. Grid Variables
// --------------------------------------------------

@lost: gutter 0;
@lost: flexbox flex;

