<div class="product-details">
  <pre>{{vm.product}}</pre>
  <h1 class="product-details--title"> {{vm.product.name}}</h1>

  <div class="product-details--image">
    <img ng-src="{{vm.product.image}}" alt="{{vm.product.name}}">
  </div>

  <div class="product-details--features">
    <p>{{vm.product.description}}</p>

    <ul>
      <li ng-repeat="feature in vm.product.features">{{feature}}</li>
    </ul>

    <span class="product-details--price">R$ 30.00</span>

    <button class="btn btn-primary" type="button" ng-click="vm.addToCart()">Add to cart</button>
  </div>
</div>



