.btn {
  @include reset(input);
  border-radius: 5px;
  padding: $space-sm;
  margin: $space-xs;
  background: transparent;
  min-width: 8rem;
  text-align: center;
}

.btn-inline { display: inline-block; }

.btn-lg { width: 100%; }

.btn-primary {
  border: 1px solid $blue;

  &:hover {
    background-color: $blue;
    color: #fff;
  }
}

.btn-secondary {
  border: 1px solid $blue-light;

  &:hover {
    background-color: $blue-light;
    color: #fff;
  }
}

.btn-clear {
  border: 1px solid #fff;
  background-color: #fff;

  &:hover {
    background-color: $blue-light;
    color: #fff;
  }
}

.btn-right { float: right; }
