form {
  label {
    display: block;
    margin: $space-sm 0;
  }

  input[type="text"],
  input[type="number"] {
    padding: $space-sm;
    width: 100%;
    background-color: $gray-white;
    border-right: none;
    border-left: none;
    border-top: none;
    outline: 0;
  }

}

.field-group {
	color:#000c36;
	margin: $space 0;
	outline: 0;
	lost-column: 1/2;

	label {
		display: block;
		color: #9b9c9e;
		font-size: 1.5rem;
	}

	.labelfocus { color: $blue-light; }

	input {
		border-bottom:1px solid #babdc2 ;
		padding: $space-sm 0;
		width: 100%;
		color:#02033b;
		font-weight: 400;
		background-color:transparent;
		border-right: none;
		border-left: none;
		border-top: none;
		font-size: 1.9rem;
		outline: 0;

		&:focus {
			border-bottom: 1px solid $blue-light;
		}
	}

	textarea {
		resize: none;
		border: 1px solid #babdc2;
		outline: 0;
		width:100%;
		margin-top: 10px;

		&:focus {
			border: 1px solid rgb(68, 165, 246);
		}
	}

	.form-forget {
		@include font(p2);
		color: $gray;

		@include effect(light, $navy);
	}
}

.field-button {
	position: relative;
	float: right;

	.field-submit {
		color: #fff;
		background-color: $blue-light;
		border: 0;
		border-radius: 50px;
		outline: 0;
		padding: $space-sm $space;
		line-height: 4rem;
	}
}
