.brand {
  position: relative;

  @media (max-width: $screen-md) {
    margin-right: $space;
  }

  @media (max-width: $screen-sm) {
    display: flex;
    lost-column: 1/1;
    max-width: 100%;
    width: 100%;
    padding: $space-lg;
  }
}
