.navbar {
	@include reset(list);
	@include font(h3, bold, primary, uppercase);

	.nav-list {
		padding: 0;
		align-items: center;
		display: flex;
		text-align: center;
	}

	.nav-item {
		display: inline-block;
		position: relative;
	}

	.nav-link {
		position: relative;
    color: $text-color;
		@include effect(light, $blue-light);
	}
}

