//
// Types
//
// 1. Links
// 2. Headings
// 3. Paragraph
//
// ==================================================

//
// 1. Links
// ==================================================

a {
  color: inherit;
  text-decoration: none;

  li,
  p {
    color: $brand-primary;

    &:hover { text-decoration: underline; }
  }
}


//
// 2. Headings
// ==================================================

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: $space-sm 0;
  color: $blue;
}


//
// 3. Paragraph
// ==================================================

p {
  margin: 0;

  &:last-child {
    margin-bottom: 0;
  }

  &.lead {
    @include font(h2, bold);
  }
}
